.checkout-page {
  .inner {
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 4px solid $color-one-500;
  }

  .checkout-page-heading {
    margin-bottom: 48px;

    .heading {
      width: 100%;
      max-width: 240px;
      margin-bottom: 48px;
    }

    .checkout-step {
      width: 100%;

      .step-container {
        display: flex;
        justify-content: space-between;
        position: relative;

        &:before {
          content: "";
          display: block;
          width: 100%;
          position: absolute;
          height: 3px;
          background-color: $color-300;
          top: 16px;
        }

        .step {
          text-align: center;
          background-color: $white;
          position: relative;
          min-width: 76px;

          .step-icon {
            display: inline-block;
            width: 36px;
            height: 36px;
            padding: 4px 0 0;
            border-radius: 50%;
            background-color: $color-200;
            font-size: 18px;
            margin-bottom: 12px;
          }

          &.is-current {
            .step-icon {
              background-color: $color-800;
              color: $white;
            }
          }
        }
      }
    }

    @include breakpoint(walker) {
      display: flex;

      .heading {
        margin-bottom: 0;
      }

      .checkout-step {
        padding-left: 32px;

        .step-container {

          &:before {
            top: 24px;
          }
          
          .step {
            min-width: 96px;

            .step-icon {
              width: 48px;
              height: 48px;
              font-size: 24px;
            }
          }
        }
        
      }
    }
  }

  .checkout-page-content {
    .checkout-split-content {

      .checkout-main {
        width: 100%;
        margin-bottom: 48px;

        .heading {
          margin-bottom: 32px;
        }
      }

      .checkout-signin {
        padding: 32px;
        background-color: #F7F7F7;
        margin-bottom: 48px;

        .checkout-signin-heading {
          margin-bottom: 32px;
        }

        .checkout-signin-content {
          display: flex;
          margin: -12px;

          .content-section {
            padding: 12px;
            width: 50%;

            .label {
              margin-bottom: 12px;
              display: inline-block;
            }

            .button {
              width: 100%;
              padding: 6px 12px;
              border-radius: 6px;

              &.button-signup {
                border: 1px solid #8C8C8C;
				        background-color: $white;
				        color: $color-800;
              }
            }
          }
        }
      }

      .checkout-overview {
        width: 100%;

        .heading {
          margin-bottom: 32px;
        }

        .overview-list {
          margin-bottom: 32px;

          .overview-item {
            display: flex;

            &:not(:last-child) {
              margin-bottom: 32px;
            }

            .overview-item-number {
              font-size: 18px;
              font-weight: 700;
              padding-right: 24px;
              width: 100%;
              max-width: 48px;
              padding-top: 64px;
            }
  
            .overview-item-frame {
              width: 100%;
              background-color: $white;
              border: 1px solid #CCC;
              padding: 24px;
              border-radius: 18px;

              .item-detail {
                display: flex;

                .overview-product {
                  width: 100%;
    
                  .product-name {
                    margin-bottom: 8px;
                  }
    
                  .product-desc {
                    font-size: 14px;
                  }
    
                  .active-period-field {
                    .input {
                      width: 100%;
                      max-width: 240px;
                      border-radius: 6px;
                    }
                  }
                }
    
                .overview-subtotal {
                  width: 100%;
                  max-width: 124px;
                  padding-left: 24px;
                  text-align: right;
                  position: relative;
    
                  .ukr-subtotal {
                    margin-bottom: 0;
                    padding-bottom: 48px;
                  }
    
                  .overview-remove {
                    display: inline-block;
                    width: 38px;
                    height: 38px;
                    padding-top: 2px;
                    border-radius: 50%;
                    border: 1px solid #CCC;
                    text-align: center;
                    font-size: 18px;
                    color: #686868;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                  }
                }
              }
  
              .item-option {
                padding-top: 24px;
                margin-top: 24px;
                border-top: 1px solid $color-400;
                
                .options {
                  .option {
                    display: flex;
                    align-items: flex-start;
                    position: relative;

                    &:not(:last-child) {
                      margin-bottom: 8px;
                    }

                    .label {
                      padding-left: 12px;
                      font-size: 14px;
                    }

                    .icon {
                      color: $color-one-500;
                      position: absolute;
                      top: 5px;
                      left: -28px;
                    }

                    .option-container {
                      width: 100%;
                      padding-right: 24px;

                      .option-expand {
                        padding: 12px 0 12px 28px;
                        display: none;

                        .desc {
                          font-size: 14px;
                          color: $color-text-light;
                          margin-bottom: 12px;
                        }

                        .link {
                          display: inline-block;
                          margin-bottom: 12px;
                          background-color: $color-one-500;
                          padding: 4px 12px;
                          border-radius: 4px;
                          color: $white;
                          font-size: 14px;
                          text-decoration: none;
                          transition: all 0.2s ease-in-out;

                          &:hover {
                            background-color: $color-one-600;
                          }
                        }

                        .form-text {
                          .label {
                            padding-left: 0;
                            font-weight: 400;
                            margin-bottom: 8px;
                          }

                          .input {
                            border-radius: 6px;
                          }
                        }
                      }
                    }

                    .option-subtotal {
                      font-weight: 700;
                      font-size: 14px;
                      width: 100%;
                      max-width: 80px;
                      text-align: right;
                      visibility: hidden;
                      opacity: 0;
                    }

                    &.is-toggled {
                      .option-container {
                        .option-expand {
                          display: block;
                        }
                      }

                      .option-subtotal {
                        visibility: visible;
                        opacity: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .overview-total {
          border-top: 2px solid $color-one-500;
          border-bottom: 2px solid $color-one-500;
          padding-top: 16px;
          padding-bottom: 16px;
          display: flex;
          font-weight: 700;
          font-size: 18px;

          .label {
            flex: 1 1 0;
            padding-right: 32px;
          }
        }

        .action {
          padding-top: 32px;
          text-align: right;

          .button {
            width: 100%;
            max-width: 164px;
            padding: 8px 12px;
            border-radius: 6px;
            text-transform: uppercase;
          }
        }
      }

      @include breakpoint(runner) {
        display: flex;

        .checkout-main {
          width: 50%;
          margin-bottom: 0;
        }

        .checkout-signin {
          margin-bottom: 0;
        }

        .checkout-overview {
          width: 50%;
          padding-left: 48px;
        }
      }
    }

    .checkout-ukr-container {
      background-color: #F7F7F7;

      .ukr-desc {
        padding: 32px;
        border-bottom: 1px solid $color-400;
      }

      .ukr-purchase {
        padding: 32px;

        .ukr-status {
          margin-bottom: 32px;

          .label {
            font-size: 20px;
            display: block;
            margin-bottom: 24px;
            font-weight: 700;
          }

          .value {
            display: inline-block;
            padding: 8px 24px;
            background-color: $color-one-500;
            border-radius: 4px;
            color: $white;
            font-weight: 700;
            font-size: 18px;
          }
        }

        .ukr-payment-method {
          margin-bottom: 32px;

          .label {
            padding-right: 32px;
            font-weight: 700;
            font-size: 24px;
            width: 100%;
            max-width: 280px;
            display: inline-block;
            margin-bottom: 12px;
          }

          .ukr-payment-field {
            width: 100%;

            .payment-input {
              width: 100%;
              max-width: 280px;
              padding-right: 32px;

              .input {
                width: 100%;
                padding: 6px 12px;
                border-radius: 6px;
              }
            }

            .payment-partner {
              width: 100%;
              margin: -4px;
              padding-top: 12px;

              img {
                margin: 4px;
              }
            }
          }

          @include breakpoint(walker) {
            display: flex;

            .label {
              margin-bottom: 0;
            }

            .ukr-payment-field {
              display: flex;

              .payment-partner {
                padding-top: 0;
              }
            }
          }
        }

        .ukr-buy {
          .ukr-buy-label {
            display: inline-block;
            font-weight: 700;
            margin-bottom: 16px;
          }

          .ukr-buy-input {
            display: flex;
            margin-bottom: 24px;
            align-items: center;

            .ukr-field {
              padding-right: 12px;
              position: relative;
              width: 100%;
              max-width: 280px;

              .ukr-selected {
                padding: 8px 12px;
                display: block;
                background-color: $white;
                border-radius: 6px;
                border: 1px solid rgba(0,0,0,0.2);
                font-size: 14px;
                cursor: pointer;
              }

              .ukr-list {
                display: block;
                padding: 24px;
                border-radius: 6px;
                border: 1px solid #CCC;
                background-color: $white;
                box-shadow: 0 2px 2px rgba($black, 0.2);
                list-style-type: none;
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                opacity: 0;
                transition: all 0.2s ease-out;

                &.is-toggled {
                  visibility: visible;
                  opacity: 1;
                }

                .ukr-item {
                  display: flex;

                  &:not(:last-child) {
                    margin-bottom: 8px;
                  }

                  .label {
                    padding-left: 16px;
                    font-size: 14px;
                  }
                }
              }
            }

            .ukr-action {
              .button {
                padding: 6px 24px;
                border-radius: 6px;
              }
            }
          }

          .ukr-buy-desc {
            font-size: 14px;
            max-width: 480px;
          }
        }
      }

      .ukr-info {
        background-color: #ECECEC;
        padding: 32px;

        .ukr-info-list {
          list-style-type: none;
          padding-left: 0;
  
          .ukr-info-item {
            display: flex;
            align-items: center;
            line-height: 1;
  
            &:not(:last-child) {
              margin-bottom: 6px;
            }
  
            .info-icon {
              font-size: 18px;
            }
  
            .info-link {
              padding-left: 12px;
              font-size: 14px;
            }
          }
        }
      }

      .checkout-ukr-complete {
        padding: 32px;

        @include breakpoint(crawler) {
          padding: 48px;
        }

        .heading {
          margin-bottom: 48px;

          .subtitle {
            font-weight: 700;
          }
        }

        .content {
          .transaction-item {
            .icon-check {
              display: inline-block;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              background-color: $color-one-500;
              color: $white;
              text-align: center;
              margin-right: 8px;
              font-size: 14px;
            }
          }
        }
      }

    }
  }

  .checkout-page-footer {
    text-align: center;
    padding-top: 48px;

    .button {
      border-radius: 6px;
      padding: 12px 24px;
    }
  }
}

.popup-checkout {
  max-width: 768px;
  margin: 0 auto;
  padding: 28px;
  position: relative;

  .popup-header {
    text-align: center;
    margin-bottom: 48px;

    .title {
      font-size: 24px;
    }
  }

  @include breakpoint(crawler) {
    padding: 48px;

    .popup-header {

      .title {
        font-size: 32px;
      }
    }
  }

  .popup-content {
    .heading {
      margin-bottom: 48px;
    }
  }

  .overview-list {
    margin-bottom: 32px;

    .overview-item {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 32px;
      }

      .overview-item-number {
        font-size: 18px;
        font-weight: 700;
        padding-right: 16px;
        width: 100%;
        max-width: 38px;
        padding-top: 64px;
      }

      .overview-item-frame {
        width: 100%;
        background-color: $white;
        border: 1px solid #CCC;
        padding: 24px;
        border-radius: 18px;

        .item-detail {
          display: flex;

          .overview-product {
            width: 100%;

            .product-name {
              margin-bottom: 8px;
            }

            .product-desc {
              font-size: 14px;
            }

            .active-period-field {
              .input {
                width: 100%;
                max-width: 240px;
                border-radius: 6px;
              }
            }
          }

          .overview-subtotal {
            width: 100%;
            max-width: 124px;
            padding-left: 24px;
            text-align: right;
            position: relative;

            .ukr-subtotal {
              margin-bottom: 0;
              padding-bottom: 48px;
            }

            .overview-remove {
              display: inline-block;
              width: 38px;
              height: 38px;
              padding-top: 2px;
              border-radius: 50%;
              border: 1px solid #CCC;
              text-align: center;
              font-size: 18px;
              color: #686868;
              position: absolute;
              right: 0;
              bottom: 0;
            }
          }
        }

        .item-option {
          padding-top: 24px;
          margin-top: 24px;
          border-top: 1px solid $color-400;
          
          .options {
            .option {
              display: flex;
              align-items: flex-start;
              position: relative;

              &:not(:last-child) {
                margin-bottom: 8px;
              }

              .label {
                padding-left: 12px;
                font-size: 14px;
              }

              .icon {
                color: $color-one-500;
                position: absolute;
                top: 5px;
                left: -28px;
              }

              .option-container {
                width: 100%;
                padding-right: 24px;

                .option-expand {
                  padding: 12px 0 12px 28px;
                  display: none;

                  .desc {
                    font-size: 14px;
                    color: $color-text-light;
                    margin-bottom: 12px;
                  }

                  .link {
                    display: inline-block;
                    margin-bottom: 12px;
                    background-color: $color-one-500;
                    padding: 4px 12px;
                    border-radius: 4px;
                    color: $white;
                    font-size: 14px;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                      background-color: $color-one-600;
                    }
                  }

                  .form-text {
                    .label {
                      padding-left: 0;
                      font-weight: 400;
                      margin-bottom: 8px;
                    }

                    .input {
                      border-radius: 6px;
                    }
                  }
                }
              }

              .option-subtotal {
                font-weight: 700;
                font-size: 14px;
                width: 100%;
                max-width: 80px;
                text-align: right;
                visibility: hidden;
                opacity: 0;
              }

              &.is-toggled {
                .option-container {
                  .option-expand {
                    display: block;
                  }
                }

                .option-subtotal {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .overview-total {
    text-align: center;

    .highlight {
      color: $color-one-500;
      font-weight: 700;
    }
  }

  .terms-acceptance {
    padding: 12px 0 24px;
    text-align: center;

    .label {
      padding-left: 12px;
      font-size: 14px;
      color: $color-one-500;
    }
  }

  .overview-action {
    text-align: center;

    .button {
      padding: 6px 24px;
      border-radius: 6px;
      margin: 12px;
    }
  }
}

.checkout-complete {
  
  .checkout-complete-heading {
    margin-bottom: 32px;
  }

  .checkout-complete-content {
    padding: 32px;
    background-color: #F7F7F7;

    @include breakpoint(crawler) {
      padding: 48px;
    }

    .transaction-status-link {
      text-align: right;
      padding-bottom: 24px;
      margin-top: -24px;
      margin-right: -12px;
    }

    .subheading {
      font-weight: 700;
    }

    .purchased-list {
      padding-left: 0;
      list-style-type: none;

      .purchased-item {
        display: flex;
        align-items: center;
        line-height: 1;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        .icon {
          margin-top: 4px;
          color: $color-one-500;
        }

        .domain-name {
          font-weight: 700;
          padding-left: 12px;
          min-width: 124px;
        }

        .domain-period {
          padding: 6px 12px;
          background-color: $white;
          margin-left: 24px;
          border: 1px solid #8C8C8C;
          border-radius: 4px;
          min-width: 80px;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}