.contact-section {

  &:not(:last-child) {
    padding-bottom: 12px;
  }

  .inner {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .about-section-heading {
    text-align: center;
    margin-bottom: 48px;

    .title {
      margin-bottom: 12px;
    }

    .subtitle {
      color: #686868;
    }
  }
}

.contact-section {
  &.contact-form {
    .contact-form-frame {
      padding: 32px;
      border-radius: 16px;
      background-color: #D9D9D9;
      max-width: 1024px;
      margin: 0 auto;

      @include breakpoint(walker) {
        padding: 48px;
      }

      .heading {
        margin-bottom: 48px;
      }

      .form {
        .label {
          margin-bottom: 8px;
        }

        .input {
          padding: 8px 12px;
          box-shadow: inset 0 2px 3px rgba($black, 0.2);
          border-color: #AEAEAE;
        }

        .form-action {
          padding-top: 24px;

          .button {
            width: 100%;
            max-width: 176px;
            padding: 8px 12px;
            border-radius: 6px;
          }
        }
      }
    }
  }

  &.contact-detail {
    background-color: #F6F7F6;
    padding-bottom: 48px;

    .contact-list {
      .contact-item {
        .heading {
          margin-bottom: 32px;
        }

        &:not(:last-child) {
          margin-bottom: 32px;
          padding-bottom: 32px;
          border-bottom: 1px solid $color-text-lighter;
        }

        &.contact-support {
          .list {
            list-style-type: none;
            padding-left: 0;

            .item {
              font-weight: 700;

              &:not(:last-child) {
                margin-bottom: 12px;
              }
            }
          }
        }

        &.contact-address {
          align-items: center;

          .address-detail {
            width: 100%;
            padding-right: 32px;
            line-height: 1.8;
            margin-bottom: 32px;
          }

          .address-map {
            width: 100%;
            max-width: 320px;

            a {
              display: block;
            }

            img {
              box-shadow: 0 3px 5px rgba($black, 0.2);
            }
          }

          @include breakpoint(crawler) {
            display: flex;

            .address-detail {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}