.form-group {
	margin: -8px -8px 8px;
	position: relative;

	@include breakpoint(crawler) {
		display: flex;
		flex-wrap: wrap;
	}

	&:last-child {
		margin-bottom: -8px;
	}

	@at-root {
		.form-group-item {
			margin-bottom: 0 !important;
			padding: 8px 8px;

			@include breakpoint(crawler) {
				flex: 0 1 50%;
			}
		}
	}
}

.form-file {

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	.js & {

		.form-file-input {

			.input {
				@include hidden;
			}
		}
	}

	.no-js & {

		.form-file-input {

			.input,
			.remove {
				display: none;
			}
		}
	}

	@at-root {
		.form-file-label {
			display: inline-block;
			font-weight: 700;
			margin-bottom: 2px;
		}

		.form-file-input {

			.label {
				cursor: pointer;
				display: inline-block;
				max-width: 100%;
				overflow: hidden;
				position: relative;
				text-overflow: ellipsis;
				vertical-align: middle;
				white-space: nowrap;

				&.has-placeholder {
					padding-right: 12px;

					.placeholder {
						color: $color-text;
					}

					.remove {
						display: block;
					}
				}

				&:hover {

					.button {}
				}

				> * {
					// pointer-events: none;
				}
			}

			.button {
				cursor: pointer;
				margin-right: 4px;
			}

			.placeholder {
				@include font-size-400;
				color: $color-text-light;
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
			}

			.remove {
				color: $color-text-light;
				display: none;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				transition: all 0.2s ease-out;
				vertical-align: middle;

				&:hover,
				&:focus {
					color: $color-alert-dark;
					text-decoration: none;
				}
			}
		}
	}
}

.form-phone {

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	.label {
		display: inline-block;
	}

	.inputs {
		display: flex;
		margin-top: 2px;
		width: 100%;
	}

	.input {

		&.input-code {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
			color: $color-text;
			flex: 0 1 auto;
			width: 64px;
		}

		&.input-phone {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			flex: 1 1 auto;
		}
	}
}

.form-rating {
	align-items: flex-start;
	display: flex;
	flex-direction: column;

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	.inputs {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		position: relative;

		&:hover {

			.input {

				+ .label {
					color: $color-400;

					&:hover {
						color: $color-one-500;
					}
				}
			}
		}
	}

	.input {
		@include hidden;

		&:checked {

			&:nth-of-type(1) {

				~ .text {

					&:after {
						content: attr(data-rating-five);
					}
				}
			}

			&:nth-of-type(2) {

				~ .text {

					&:after {
						content: attr(data-rating-four);
					}
				}
			}

			&:nth-of-type(3) {

				~ .text {

					&:after {
						content: attr(data-rating-three);
					}
				}
			}

			&:nth-of-type(4) {

				~ .text {

					&:after {
						content: attr(data-rating-two);
					}
				}
			}

			&:nth-of-type(5) {

				~ .text {

					&:after {
						content: attr(data-rating-one);
					}
				}
			}

			~ .label {
				color: $color-one-500;
			}

			+ .label {
				color: $color-one-500;
			}
		}

		+ .label {
			color: $color-400;
			font-size: 24px;
			margin: 0 -2px;
			line-height: 24px;

			&:hover {
				color: $color-one-500;

				~ .label {
					color: $color-one-500;
				}

				&:nth-of-type(1) {

					~ .text {

						&:after {
							content: attr(data-rating-five);
						}
					}
				}

				&:nth-of-type(2) {

					~ .text {

						&:after {
							content: attr(data-rating-four);
						}
					}
				}

				&:nth-of-type(3) {

					~ .text {

						&:after {
							content: attr(data-rating-three);
						}
					}
				}

				&:nth-of-type(4) {

					~ .text {

						&:after {
							content: attr(data-rating-two);
						}
					}
				}

				&:nth-of-type(5) {

					~ .text {

						&:after {
							content: attr(data-rating-one);
						}
					}
				}
			}
		}
	}

	.icon {
		display: block;
		transition: all 0.15s ease-out;
	}

	.text {
		left: 100%;
		margin-left: 8px;
		order: -1;
		pointer-events: none;
		position: absolute;
		top: 0;
		white-space: nowrap;

		&:after {
			@include font-size-400;
			content: attr(data-rating-none);
			color: $color-text-light;
			font-weight: 700;
		}
	}
}

.form-select {

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	.label {
		display: inline-block;
		font-weight: 700;
		margin-bottom: 2px;
	}

	.input {
		width: 100%;
	}
}

.form-text {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 16px;
	}

	.label {
		display: inline-block;
		font-weight: 700;
		margin-bottom: 2px;
	}

	.input {
		width: 100%;

		&.input-textarea {
			height: 120px;
			resize: none;
		}
	}

	.caption {
		@include font-size-400;
		color: $color-text-light;
		margin: 4px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.form-submit {

	&.form-submit-right {
		text-align: right;
	}

	&:not(:last-child) {
		margin-bottom: 16px;
	}
}

table.table-form {
	border: 1px solid $color-400;
	border-right: none;

	tr {
		th, td {
			display: block;
			border-top: none;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 12px;
			padding-right: 12px;
			text-align: left;
			border-right: 1px solid $color-400;

			&:not(:last-child) {
				border-bottom: 1px solid $color-400;
			}

			@include breakpoint(walker) {
				display: table-cell;
				border-bottom: 1px solid $color-400;
			}

			&.label {
				padding-bottom: 0;
				line-height: 1;
				border-bottom: none;
				vertical-align: middle;

				@include breakpoint(walker) {
					width: 20%;
					padding-bottom: 6px;
					border-bottom: 1px solid $color-400;
				}
			}

			&.field {
				position: relative;
				border-bottom: none;
				vertical-align: middle;

				.split-field {
					display: flex;
					align-items: center;
					margin: -4px;

					.input {
						width: calc(50% - 12px);
						margin: 4px;
					}
				}

				&.summary {
					padding: 8px 12px;
					line-height: 1;
				}

				.radio-input {
					display: flex;
					align-items: center;
					line-height: 1;

					label {
						padding-left: 8px;
					}
				}

				@include breakpoint(walker) {
					border-bottom: 1px solid $color-400;
				}

				.input {
					width: 100%;
					box-shadow: none;
					border-radius: 4px;
				}
			}

			&.hint {
				font-size: 14px;
				border-bottom: 1px solid $color-400;

				&.hint-desktop {
					display: none;
				}

				&.hint-mobile {
					display: block;
				}

				@include breakpoint(walker) {
					width: 45%;

					&.hint-desktop {
						display: table-cell;
					}

					&.hint-mobile {
						display: none;
					}
				}
			}
		}

		&:last-child {
			.hint {
				border-bottom: none;
			}
		}
	}

	thead {
		th {
			background-color: $color-300;
			text-align: left;
			border-bottom: 1px solid $color-400;
		}
	}
}
