// GLOBALS

.button {
	background-color: $color-one-500;
	border: 1px solid transparent;
	border-radius: 0;
	color: $white;
	display: inline-block;
	line-height: inherit;
	padding: 3px 12px;
	position: relative;
	text-align: center;
	transition: all 0.2s ease-out;
	vertical-align: middle;
	white-space: nowrap;

	&:visited {
		background-color: $color-one-500;
	}

	&:hover,
	&:focus {
		background-color: $color-one-600;
		color: $white;
		outline: 0;
		text-decoration: none;
	}

	&:active {
		background-color: $color-one-600;
	}

	&.button-small {
		@include font-size-400;
	}

	&.button-large {
		@include font-size-600;
		font-weight: 700;
	}

	&.button-line {
		background-color: transparent;
		border-color: $color-one-500;
		color: $color-one-500;

		&:hover,
		&:focus {
			border-color: $color-one-600;
			color: $color-one-400;
		}

		&:active {
			border-color: $color-one-600;
		}
	}

	&.button-gray {
		background-color: $color-500;

		&:hover,
		&:focus {
			background-color: $color-600;
		}

		&:active {
			background-color: $color-600;
		}
	}

	&.button-link {
		background-color: transparent;
		color: $color-text;
		padding-left: 0;
		padding-right: 0;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}

	&.button-disable {
		background-color: $color-400;
		pointer-events: none;

		&:hover,
		&:focus,
		&:active {
			background-color: $color-400;
		}
	}
}

.icon {
	fill: currentColor;
	height: 1em;
	width: 1em;

	&.icon-inline {
		position: relative;
		top: -2px;
	}
}

.items {
	list-style: none;
	margin: 0;
	padding: 0;

	&.items-inline {
		font-size: 0;
		margin: 0 -8px -8px 0;

		.item {
			display: inline-block;
			font-size: $font-size-500;
			margin: 0 8px 8px 0;
		}
	}

	&.items-ordered,
	&.items-unordered {
		padding-left: 24px;
		text-indent: -24px;

		.item {

			&:before {
				content: "\2022";
				display: inline-block;
				min-width: 24px;
				text-indent: 2px;
				padding-right: 4px;
			}
		}
	}

	&.items-ordered {

		.item {
			counter-increment: list-ordered;

			&:before {
				content: counter(list-ordered) ". ";
				text-indent: 0;
			}
		}
	}
}

.nowrap {
	white-space: nowrap;
}

.required {
	color: $color-alert;
}

.thumbnail {
	background-color: $white;
	display: block;
	overflow: hidden;
	padding-bottom: 100%;
	position: relative;

	&:before {
		content: "";
		border: 1px solid rgba($color-800, 0.1);
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: all 0.2s ease-out;
		z-index: 3;
	}

	&:after {
		content: "";
		animation: walker-spin 1.5s infinite linear;
		border-left: 3px solid rgba($color-800, 0.2);
		border-bottom: 3px solid rgba($color-800, 0.2);
		border-right: 3px solid rgba($color-800, 0.2);
		border-top: 3px solid $color-one-500;
		border-radius: 100%;
		display: block;
		height: 16px;
		left: 50%;
		margin: -8px 0 0 -8px;
		outline: 1px solid transparent;
		position: absolute;
		top: 50%;
		width: 16px;
		z-index: 1;
	}

	img {
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}
}

.tooltip {
	border-bottom: 1px dotted $color-500;
	position: relative;

	&:hover {

		&:before,
		&:after {
			opacity: 1;
			transform: translateY(0);
			z-index: 1;
		}

		&:after {
			transform: translateY(0);
		}
	}

	&:before {
		content: "";
		border-bottom: 3px solid $color-800;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		left: 50%;
		margin-left: -2px;
		margin-top: 1px;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		transform: translateY(-8px);
		transition: all 0.2s ease-out;
		z-index: -1;
	}

	&:after {
		@include ellipsis;
		@include font-size-200;
		content: attr(data-tooltip);
		background-color: $color-800;
		border-radius: 3px;
		color: $white;
		left: 0;
		margin-top: 4px;
		max-width: 192px;
		min-height: 20px;
		opacity: 0;
		padding: 2px 5px;
		pointer-events: none;
		position: absolute;
		top: 100%;
		text-align: center;
		transform: translateY(-8px);
		transition: all 0.2s ease-out;
		white-space: nowrap;
		z-index: -1;

		@include breakpoint(creeper) {
			max-width: 256px;
		}

		@include breakpoint(crawler) {
			max-width: 320px;
		}
	}

	&.tooltip-right {

		&:hover {

			&:before,
			&:after {
				opacity: 1;
				transform: translateX(0);
				z-index: 1;
			}
		}

		&:before {
			border-bottom: 3px solid transparent;
			border-left: none;
			border-right: 3px solid $color-800;
			border-top: 3px solid transparent;
			left: 100%;
			margin-left: 1px;
			margin-top: -2px;
			top: 50%;
			transform: translateX(-8px);
		}

		&:after {
			left: 100%;
			margin-left: 4px;
			margin-top: 0;
			top: 0px;
			transform: translateX(-8px);
		}
	}
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	padding-left: 16px;
	padding-right: 16px;

	@include breakpoint(creeper) {
		padding-left: 24px;
		padding-right: 24px;
	}

	@include breakpoint(crawler) {
		padding-left: 32px;
		padding-right: 32px;
	}

	@include breakpoint(runner) {
		padding-left: 48px;
		padding-right: 48px;
	}

	&.wrapper-medium {
		max-width: 1120px;
	}

	&.wrapper-small {
		max-width: 848px;
	}
}

.unwrapper {
	margin-left: -16px;
	margin-right: -16px;

	@include breakpoint(creeper) {
		margin-left: -24px;
		margin-right: -24px;
	}

	@include breakpoint(crawler) {
		margin-left: -32px;
		margin-right: -32px;
	}

	@include breakpoint(runner) {
		margin-left: -48px;
		margin-right: -48px;
	}

	@include breakpoint(flyer) {
		margin-left: calc(-50vw + (1280px - 80px) / 2);
		margin-right: calc(-50vw + (1280px - 80px) / 2);
	}
}
