.help-section {

  &:not(:last-child) {
    padding-bottom: 12px;
  }

  .inner {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .help-section-heading {
    text-align: center;
    margin-bottom: 48px;

    .title {
      margin-bottom: 12px;
    }

    .subtitle {
      color: #686868;
    }
  }
}

.help-section {
  &.intro {
    margin-top: 48px;

    .inner {
      border-top: 4px solid $color-one-500;

      @include breakpoint(runner) {
        display: flex;
      }
    }

    .help-text {
      width: 100%;
      margin-bottom: 48px;

      .title {
        margin-bottom: 48px;
      }

      @include breakpoint(runner) {
        padding-right: 48px;
        margin-bottom: 0;
      }
    }

    .help-list {
      width: 100%;
      max-width: 280px;

      .list {
        list-style-type: none;
        padding-left: 0;

        .item {
          display: flex;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 12px;
          }

          .help-icon {
            font-size: 32px;
          }

          .help-link {
            padding-left: 24px;
          }
        }
      }
    }
  }

  &.promise {
    .heading {
      margin-bottom: 48px;
    }
    
    .list {
      list-style-type: none;
      padding-left: 0;

      .item {
        position: relative;
        padding-left: 32px;

        &:not(:last-child) {
          margin-bottom: 12px;
        }
        
        .bullet {
          position: absolute;
          left: 0;
          color: $color-one-500;
        }
      }
    }
  }

  &.solution-center {
    background-color: #F6F7F6;

    .inner {
      padding-top: 48px;
      padding-bottom: 64px;
    }

    .solution-center-heading {
      margin-bottom: 48px;

      .title {
        margin-bottom: 12px;
      }

      .subtitle {
        color: #686868;
      }
    }

    .solution-list {
      display: flex;
      flex-wrap: wrap;
      margin: -12px;

      .solution-item {
        width: calc(50% - 24px);
        border-radius: 8px;
        border: 1px solid #CCC;
        box-shadow: 0 2px 2px rgba($black, 0.2);
        margin: 12px;
        background-color: $white;

        .link {
          color: $color-800;
        }

        .solution-icon {
          padding: 32px;
        }

        .solution-title {
          padding: 24px;
          border-top: 1px solid $color-one-500;
        }
      }

      @include breakpoint(walker) {
        margin: -24px;

        .solution-item {
          width: calc(33.333333% - 48px);
          margin: 24px;
        }
      }
    }
  }
}

.help-single-header {
  padding-bottom: 48px;

  .main {
    width: 100%;
    margin-bottom: 32px;

    .help-search {
      max-width: 480px;
      position: relative;

      .input {
        width: 100%;
        padding: 6px 12px;
        border-radius: 6px;
        padding-right: 42px;
      }

      .button {
        position: absolute;
        right: 0;
        font-size: 18px;
        background-color: transparent;
        color: $color-800;
      }
    }
  }

  .aside {
    width: 100%;
    max-width: 280px;

    .list {
      list-style-type: none;
      padding-left: 0;

      .item {
        &:not(:last-child) {
          margin-bottom: 12px;
        }

        .help-icon {
          font-size: 32px;
        }

        .help-link {
          padding-left: 24px;
        }
      }
    }
  }

  @include breakpoint(walker) {
    display: flex;

    .main {
      padding-right: 48px;
      margin-bottom: 0;
    }
  }
}

.help-solution-container {
  background-color: #F6F7F6;

  .inner {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .help-solution-list {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #CCC;
    box-shadow: 0 2px 2px rgba($black, 0.2);
    background-color: $white;

    .help-solution-item {
      &:not(:last-child) {
        border-bottom: 1px solid $color-500;
      }

      .solution-label {
        display: flex;
        align-items: center;
        padding: 32px;
        cursor: pointer;
        position: relative;
        background-color: $white;

        .index {
          font-size: 24px;
        }

        .content {
          width: 100%;
          padding: 0 32px;

          @include breakpoint(crawler) {
            padding: 0 48px;
          }

          .title {
            margin-bottom: 8px;
          }

          .desc {
            color: #686868;
          }
        }

        .expand {
          font-size: 24px;

          .icon-chevron-up {
            display: none;
          }
        }
      }

      .solution-expanded {
        display: none;

        .sub-list {
          .sub-item {
            border-top: 1px solid $color-300;

            .link {
              display: block;
              padding: 24px 32px;
              color: $color-800;
  
              &:hover {
                box-shadow: inset 0 2px 2px rgba($black, 0.2);
                background-color: #EBEBEB;
                color: $color-one-500;
              }
            }
          }
        }
      }

      &.is-toggled {
        .solution-label {
          .expand {
  
            .icon-chevron-up {
              display: inline-block;
            }

            .icon-chevron-down {
              display: none;
            }
          }
        }

        .solution-expanded {
        }
      }
      
    }
  }
}

.help-request-form {
  padding: 32px;
  border-radius: 12px;
  background-color: #D9D9D9;

  @include breakpoint(crawler) {
    padding: 48px;
  }

  .label {
    display: block;
    margin-bottom: 6px;
  }

  .input {
    border-radius: 4px;
    padding: 6px 12px;
  }

  .input-file {
    font-size: 14px;
  }

  .form-file {
    .hint {
      margin-top: 8px;
      font-size: 14px;
      color: #686868;

      .file-type {
        margin-right: 24px;
      }
    }
  }

  .form-action {
    padding-top: 24px;

    .button {
      width: 100%;
      max-width: 134px;
      border-radius: 4px;
      padding: 6px 12px;
    }
  }
}

.support-sent-notice {
  text-align: center;
  padding-bottom: 48px;

  .ticket-number {
    border-radius: 8px;
    background-color: #D9D9D9;
    padding: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .notice-text {
    margin: 32px;
  }

  .button {
    border-radius: 4px;
    border: 1px solid #AAAAAA;
    color: $color-800;
    background-color: $white;
    padding: 8px 24px;
  }
}

.support-response {
  .reply-form {
    border-radius: 6px;
    border: 1px solid $color-400;
    overflow: hidden;
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 10;

    .form-tab {
      padding: 24px 32px;
      background-color: #D9D9D9;
      display: flex;
      cursor: pointer;

      .label {
        flex: 1 1 0;
        font-weight: 700;

        .icon {
          margin-right: 12px;
          font-size: 18px;
        }
      }

      .expand-button {
        color: $color-one-500;
      }
    }

    .form-expand {
      padding: 32px;
      display: none;
      background-color: $white;

      .label {
        margin-bottom: 8px;
      }

      .input {
        border-radius: 4px;
      }

      .form-action {
        text-align: center;
        padding-top: 12px;

        .button {
          padding: 6px 12px;
          width: 100%;
          max-width: 148px;
          border-radius: 6px;
        }
      }
    }
  }

  .response-container {

    .message-list {

      .message-item {
        border-radius: 6px;
        border: 1px solid $color-400;
        overflow: hidden;
        box-shadow: 0 2px 2px rgba($black, 0.2);

        &:not(:last-child) {
          margin-bottom: 32px;
        }

        .message-head {
          padding: 12px 24px;
          background-color: #F2F2F2;
          display: flex;
          align-items: center;

          &.staff {
            background-color: #FDE1E1;
          }

          .meta {
            flex: 1 1 0;
            display: flex;
            align-items: center;

            .icon {
              margin-right: 12px;
              font-size: 24px;
            }

            .author {
              font-size: 14px;

              span {
                display: block;
              }

              .role {
                font-weight: 700;
              }
            }
          }

          .time {
            font-size: 14px;
          }
        }

        .message-text {
          padding: 32px;
          background-color: $white;

          .support-feedback {
            padding-top: 24px;
            margin-top: 32px;
            border-top: 1px solid $color-300;
            align-items: center;

            .feedback-submited {
              .icon-check {
                display: inline-block;
                text-align: center;
                width: 28px;
                height: 28px;
                color: $white;
                border-radius: 50%;
                background-color: $color-one-500;
                margin-right: 12px;
              }
            }

            .label {
              padding-right: 32px;
              width: 100%;
              max-width: 280px;
              display: inline-block;
              margin-bottom: 18px;
            }

            .action {
              width: 100%;

              .button {
                width: 100%;
                max-width: 100px;
                border-radius: 6px;
                font-size: 14px;
              }
            }

            @include breakpoint(crawler) {
              display: flex;

              .label {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}