.home-slider {

  .slides {

    .slide {
      display: block;
      width: 100%;

      img {
        width: 100%;
      }
    }

    .flickity-prev-next-button {
      background-color: $black;
      opacity: 0.5;

      .arrow {
        fill: $white;
      }

      &.previous {
        left: 24px;
      }

      &.next {
        right: 24px;
      }

      @include breakpoint(runner) {
        &.previous {
          left: 32px;
        }

        &.next {
          right: 32px;
        }
      }
    }

    .flickity-page-dots {
      bottom: 7%;
      opacity: 0.8;

      .dot {
        border: 1px solid $black;
        width: 12px;
        height: 12px;
        margin: 0 4px;

        @include breakpoint(walker) {
          width: 16px;
          height: 16px;
        }

        &.is-selected {
          background-color: $black;
        }
      }
    }
  }
}

.home-section {

  &:not(:last-child) {
    padding-bottom: 12px;
  }

  .inner {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .home-section-heading {
    text-align: center;
    margin-bottom: 48px;

    .title {
      margin-bottom: 12px;
    }

    .subtitle {
      color: #686868;
    }
  }
}

.home-section {
  &.services {
    .home-section-content {
      border-top: 1px solid $color-400;
      padding-top: 48px;
    }

    .services-list {
      display: block;

      @include breakpoint(walker) {
        display: flex;
        margin: -16px;
      }

      .services-item {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #CCC;
        padding: 32px;
        text-align: center;
        box-shadow: 0 2px 2px rgba($black, 0.2);
        position: relative;

        &:not(:last-child) {
          margin-bottom: 32px;
        }

        @include breakpoint(walker) {
          padding: 80px 32px 32px;
          width: calc(33.333333% - 32px);
          margin: 16px;

          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }

        .services-icon {
          margin-bottom: 32px;
        }

        .services-title {
          padding-bottom: 64px;
        }

        .action {
          position: absolute;
          left: 0;
          bottom: 32px;
          padding: 0 32px;
          width: 100%;
        }

        .button {
          width: 100%;
          max-width: 180px;
          padding: 8px 24px;
          border-radius: 6px;
        }
      }
    }
  }

  &.choose-us {
    background-color: #F6F7F6;
    padding-bottom: 0;

    .inner {
      border-top: 4px solid $color-one-500;
    }

    .choose-us-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -12px -24px;

      .choose-us-item {
        width: 50%;
        padding: 32px 24px;
        text-align: center;

        .choose-us-icon {
          margin-bottom: 38px;
        }
      }

      @include breakpoint(walker) {
        .choose-us-item {
          width: 33.333333%;
        }
      }
    }
  }

  &.get-start {
    position: relative;

    &:before {
      content: "";
      background-color: #F6F7F6;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 280px;
    }

    .inner {
      padding-top: 0;
    }

    .get-start-container {
      background-color: $white;
      border-radius: 12px;
      padding: 24px;
      border: 1px solid #CCC;
      box-shadow: 0 2px 2px rgba($black, 0.2);
      position: relative;

      @include breakpoint(crawler) {
        padding: 48px;
      }
    }

    .get-start-list {
      display: block;
      flex-wrap: wrap;
      margin: -24px;

      .get-start-item {
        width: 100%;
        display: flex;
        padding: 24px;

        .get-start-icon {
          width: 100%;
          max-width: 104px;
        }

        .get-start-desc {
          width: 100%;
          padding-left: 32px;

          .title {
            margin-bottom: 8px;
            font-weight: 700;
            color: #4B4B4B;
          }

          .desc {
            font-size: 14px;
            color: #686868;
          }
        }
      }

      @include breakpoint(walker) {
        display: flex;
        margin: 0;

        .get-start-item {
          width: 50%;
        }
      }
    }
  }

  &.articles {
    .inner {
      border-top: 4px solid $color-one-500;
    }

    .articles-featured {
      margin-bottom: 32px;

      .featured-title {
        margin-bottom: 8px;
      }

      .featured-meta {
        font-weight: 700;
      }

      .featured-post {
        max-width: 800px;

        .link {
          color: $color-text;
          font-weight: 700;
        }
      }
    }

    .articles-others {
      .articles-others-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 32px;

        .articles-others-item {
          width: 100%;
          padding: 24px;
          border-top: 1px solid #909090;
          border-left: 3px solid #686868;

          .date {
            margin-bottom: 8px;
            color: #686868;
          }
        }

        @include breakpoint(crawler) {
          .articles-others-item {
            width: 50%;
          }
        }

        @include breakpoint(walker) {
          .articles-others-item {
            width: 25%;
          }
        }
      }

      .view-more {
        text-align: center;

        .view-more-link {
          color: $color-text;
          font-weight: 700;
        }
      }
    }
  }

  &.clients {
    background-color: #F6F7F6;
    box-shadow: inset 0 3px 3px rgba($black, 0.2);

    .client-slider {
      .slides {
        padding-left: 24px;
        padding-right: 24px;

        .flickity-slider {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .slide {
          width: 33.333333%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px;

          .client-logo {
            display: inline-block;
            padding: 8px;
            background-color: $white;
          }

          @include breakpoint(crawler) {
            width: 20%;
          }
        }

        .flickity-prev-next-button {
          background-color: $black;
          opacity: 0.5;

          &:disabled {
            opacity: 0.2;
          }

          .arrow {
            fill: $white;
          }

          &.previous {
            left: -8px;
          }

          &.next {
            right: -8px;
          }

          @include breakpoint(runner) {
            &.previous {
              left: -24px;
            }

            &.next {
              right: -24px;
            }
          }

        }
      }
    }
  }

  &.partners {
    background-color: #F6F7F6;
    padding-bottom: 48px;

    .partner-slider {
      .slides {
        padding-left: 24px;
        padding-right: 24px;

        .flickity-slider {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .slide {
          width: 33.333333%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px;

          .partner-logo {
            display: inline-block;
          }

          @include breakpoint(crawler) {
            width: 20%;
          }
        }

        .flickity-prev-next-button {
          background-color: $black;
          opacity: 0.5;

          &:disabled {
            opacity: 0.2;
          }

          .arrow {
            fill: $white;
          }

          &.previous {
            left: -8px;
          }

          &.next {
            right: -8px;
          }

          @include breakpoint(runner) {
            &.previous {
              left: -24px;
            }

            &.next {
              right: -24px;
            }
          }

        }
      }
    }
  }

  &.client-reviews {
    .review-slider {
      padding-bottom: 64px;

      .flickity-prev-next-button {
        background-color: $black;
        opacity: 0.5;

        &:disabled {
          opacity: 0.2;
        }

        .arrow {
          fill: $white;
        }

        &.previous {
          left: -8px;
        }

        &.next {
          right: -8px;
        }

        @include breakpoint(runner) {
          &.previous {
            left: -24px;
          }

          &.next {
            right: -24px;
          }
        }
      }

      .slides {
        padding-left: 24px;
        padding-right: 24px;
      }

      .flickity-page-dots {
        left: 0;
        opacity: 0.5;

        .dot {
          border: 1px solid $black;

          &.is-selected {
            background-color: $black;
          }
        }
      }

      .slide {
        display: flex;
        width: 100%;
        min-height: 100%;
        padding: 16px;

        @include breakpoint(walker) {
          width: 50%;
        }

        @include breakpoint(runner) {
          width: 33.333333%;
        }
      }

      .review-frame {
        border-radius: 8px;
        border: 1px solid #CCC;
        box-shadow: 0 2px 2px rgba($black, 0.2);
        padding: 48px 32px;

        .review-meta {
          margin-bottom: 32px;

          .meta-author {
            margin-bottom: 12px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2px;
          }

          .rating-star {
            margin-bottom: 8px;
          }
        }
      }
    }

    .home-section-footer {
      .review-toggler {
        text-align: center;

        .button {
          border-radius: 6px;
          padding: 8px 12px;
          width: 100%;
          max-width: 176px;
        }
      }
    }
  }
}
