.page-navigation {
	align-items: center;
	border-top: 1px solid $color-border;
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	padding-top: 24px;

	@at-root {

		.page-navigation-list {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.page-navigation-arrow {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;

			.link {
				height: 32px;
				padding: 0;
				width: 32px;
			}
		}
	}

	.link {
		background-color: $color-one-500;
		border-radius: 4px;
		color: $white;
		display: block;
		min-width: 32px;
		padding: 4px 8px;
		position: relative;
		text-align: center;
		text-decoration: none;
		transition: all 0.2s ease-out;

		&:hover,
		&:focus {
			background-color: $color-one-400;
			color: $white;
		}
	}

	.item {
		float: left;
		margin-right: 4px;

		&:last-child {
			margin-right: 0;
		}

		&.item-current {

			.link {
				background-color: $color-500;
				pointer-events: none;

				&:hover,
				&:focus {
					background-color: $color-500;
				}
			}
		}

		&.item-inactive {

			.link {
				background-color: $color-one-300;
				pointer-events: none;
			}
		}
	}

	.icon {
		fill: $white;
		height: 100%;
		width: 24px;
	}
}

.page-hero {
  background-size: cover !important;
  background-position: center !important;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#545454, 0.4);
  }

  .inner {
    min-height: 480px;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .page-hero-container {
    width: 100%;
    color: $white;
    position: relative;

    .heading {
      .subtitle {
        font-size: 24px;
        margin-bottom: 24px;
      }

      .title {
        font-size: 40px;
      }
    }
  }
}

.page-container {
	.inner {
		border-top: 4px solid $color-one-500;
		padding-top: 24px;
	}

	.page-breadcrumb {
		margin-bottom: 48px;
		
		.link {
			display: inline-block;

			&:not(:last-child) {
				&::after {
					content: '/';
					padding: 0 8px;
					color: $color-text-light;
				}
			}
		}

		a {
			color: $color-800;
			text-decoration: none;
		}

		span {
			color: $color-text-light;
		}
	}

	.page-heading {
		margin-bottom: 48px;

		.subtitle {
			margin-bottom: 8px;
			color: $color-one-500;
		}
	}
}
