.page-navigation {
	align-items: center;
	border-top: 1px solid $color-border;
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	padding-top: 24px;

	@at-root {

		.page-navigation-list {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.page-navigation-arrow {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;

			.link {
				height: 32px;
				padding: 0;
				width: 32px;
			}
		}
	}

	.link {
		background-color: $color-one-500;
		border-radius: 4px;
		color: $white;
		display: block;
		min-width: 32px;
		padding: 4px 8px;
		position: relative;
		text-align: center;
		text-decoration: none;
		transition: all 0.2s ease-out;

		&:hover,
		&:focus {
			background-color: $color-one-400;
			color: $white;
		}
	}

	.item {
		float: left;
		margin-right: 4px;

		&:last-child {
			margin-right: 0;
		}

		&.item-current {

			.link {
				background-color: $color-500;
				pointer-events: none;

				&:hover,
				&:focus {
					background-color: $color-500;
				}
			}
		}

		&.item-inactive {

			.link {
				background-color: $color-one-300;
				pointer-events: none;
			}
		}
	}

	.icon {
		fill: $white;
		height: 100%;
		width: 24px;
	}
}
