.site-container {
	background-color: $white;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;

	&:before {
		content: "";
		background-color: $black;
		height: 100%;
		left: 0;
		opacity: 0;
		transition: opacity 0.2s ease-out;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
}

.site-header {
	background-color: #F9F9F9;
	border-bottom: 1px solid rgba($black, 0.1);
	flex: 0 0 auto;
	position: relative;
	width: 100%;
	z-index: 8;

	.site-header-top {
		border-bottom: 1px solid rgba(0,0,0,0.1);

		.inner {
			padding-top: 12px;
			padding-bottom: 12px;
			display: flex;
			align-items: center;
		}

		.header-top-logo {
			flex: 1 1 0;

			.site-logo {
				max-width: 148px;
			}
		}

		.header-top-nav {
			display: flex;
			font-size: 14px;

			.list {
				margin-bottom: 0;
				padding-left: 0;
				list-style-type: none;

				& + .list {
					padding-left: 12px;
					margin-left: 12px;
					border-left: 1px solid rgba(0,0,0,0.2);
				}

				.item {
					display: block;
					float: left;
					padding: 2px 12px;

					.link {
						color: $color-800;
						display: flex;
						align-items: center;
						text-decoration: none;

						.icon {
							color: $color-one-500;
							font-size: 18px;
							margin-right: 8px;
						}
					}

					&:hover {
						.link {
							color: $color-one-500;
						}
					}

					&.item-current {
						.link {
							color: $color-one-500;
						}
					}
					
				}
			}

			.popup-login {
				padding-top: 12px;
				position: absolute;
				width: 360px;
				right: 5%;
				visibility: hidden;
				opacity: 0;
				transition: all 0.2s ease-out;
				z-index: 8;

				.popup-login-container {
					border-radius: 8px;
					background-color: #EBEBEB;
					border: 1px solid #CAC7C7;
					position: relative;
					box-shadow: 0 2px 2px rgba($black, 0.2);

					&:before {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						top: 12px;
						bottom: 12px;
						border-left: 5px solid $color-one-500;
						margin-left: -1px;
					}
					
					.form {
						padding: 24px 28px 24px 32px;

						.label {
							margin-bottom: 8px;
						}

						.input {
							border-radius: 4px;
							padding: 6px 12px;
						}

						.form-action {
							padding-top: 8px;
							display: flex;

							.button {
								width: 100%;
								max-width: 110px;
								border-radius: 6px;
								padding: 6px 12px;
							}

							.forgot-password-link {
								width: 100%;
								text-align: right;
								font-size: 13px;
							}
						}
					}

					.sign-up-link {
						border-top: 1px solid rgba(#434343, 0.2);
						padding: 16px 28px 16px 32px;
						font-size: 14px;

						a {
							color: $color-800;
							font-weight: 700;
						}
					}
				}
			}

			.popup-login-toggler {
				&.link.is-toggled {
					color: $color-one-500;

					& + .popup-login {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}

	.site-header-bottom {

		.site-header-nav {
			.list {
				padding: 12px 0;
				margin: 0 -12px;

				&::after {
					content: "";
					display: table;
					width: 100%;
					clear: both;
				}

				.item {
					display: block;
					float: left;
					padding: 6px 12px;

					.link {
						color: $color-800;
						text-decoration: none;
					}

					&:hover {
						.link {
							color: $color-one-500;
						}

						.list-child {
							.item-child {
								.link {
									color: $color-800;
								}
							}
						}
					}

					&.item-current {
						.link {
							color: $color-one-500;
						}
					}

					.list-child {
						display: block;
						background-color: $white;
						padding: 24px;
						padding-left: 28px;
						border-radius: 8px;
						border: 1px solid #D6D6D6;
						box-shadow: 0 2px 2px rgba($black, 0.2);
						position: absolute;
						max-width: 180px;
						visibility: hidden;
						opacity: 0;
						transition: all 0.2s ease-out;
						z-index: 8;

						&:before {
							content: "";
							position: absolute;
							top: 12px;
							bottom: 12px;
							left: 0;
							margin-left: -1px;
							border-left: 4px solid $color-one-500;
						}

						.item-child {
							&:not(:last-child) {
								margin-bottom: 8px;
							}

							&:hover {
								.link {
									color: $color-one-500;
								}
							}
		
							&.item-current {
								.link {
									color: $color-one-500;
								}
							}
						}
					}

					&:hover {
						.list-child {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
		}

		.domain-search {
			background-color: #F9F9F9;
			padding-bottom: 12px;
			position: relative;
		
			.domain-search-form {
				.search-field {
					display: flex;
		
					.input {
						width: 100%;
						padding: 12px;
						border-top-left-radius: 8px;
						border-bottom-left-radius: 8px;
					}
		
					.button-search {
						padding-left: 24px;
						padding-right: 24px;
						border-top-right-radius: 8px;
						border-bottom-right-radius: 8px;
						font-size: 18px;
						font-weight: 700;
					}
				}
		
				.domain-extension {
					.list {
						display: flex;
						list-style-type: none;
						margin: 0 -12px;
						padding: 0;
		
						.item {
							padding: 12px;
		
							.label {
								padding-left: 2px;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}

.site-content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	position: relative;

	@at-root {
		.site-content-inner {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			padding-bottom: 48px;
			padding-top: 48px;
			width: 100%;

			&.zero-top {
				padding-top: 0;
			}

			&.zero-bottom {
				padding-bottom: 0;
			}

			&.vertical-zero {
				padding-top: 0;
				padding-bottom: 0;
			}

			@include breakpoint(runner) {
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
}

.site-footer {
	background-color: $color-bg-dark;
	color: $white;
	flex: 0 0 auto;
	position: relative;
	transition: all 0.3s ease-out;
	width: 100%;
	z-index: 4;

	@at-root {
		.site-footer-inner {
			padding-top: 38px;
			padding-bottom: 38px;
		}
	}

	.site-footer-content {
		padding-top: 38px;
		padding-bottom: 38px;
		border-top: 1px solid rgba($white, 0.3);
		border-bottom: 1px solid rgba($white, 0.3);
		display: flex;
		width: 100%;

		.footer-contact {
			width: 100%;
			max-width: 380px;

			.footer-contact-info {
				display: flex;
				margin-bottom: 24px;

				.certificates {
					.list {
						list-style-type: none;
						padding-left: 0;

						.item {
							&:not(:last-child) {
								margin-bottom: 24px;
							}
						}
					}
				}

				.address {
					padding-left: 48px;

					.company-address {
						padding-bottom: 16px;

						strong {
							display: block;
							margin-bottom: 6px;
						}

						address {
							font-size: 14px;
						}
					}

					.social-media {

						.list {
							display: flex;
							list-style-type: none;
							padding-left: 0;
							margin: -8px;

							.item {
								padding: 8px;

								.link {
									color: $white;
									font-size: 18px;
								}
							}
						}
					}
				}
			}

			.footer-subscribe {
				.footer-subscribe-form {
					.label {
						display: block;
						font-weight: 700;
						margin-bottom: 8px;
					}

					.field {
						display: flex;
						width: 100%;
						border-radius: 8px;

						.input {
							width: 100%;
							padding: 8px 12px;
							color: $color-text;
							border-top-left-radius: 8px;
							border-bottom-left-radius: 8px;
							font-size: 14px;
						}

						.button {
							padding: 8px 24px;
							font-weight: 700;
							border-top-right-radius: 8px;
							border-bottom-right-radius: 8px;
							font-size: 14px;
						}
					}
				}
			}
		}

		.footer-nav {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding-left: 48px;

			.footer-nav-section {
				width: 33.333333%;

				.section-item {
					&:not(:last-child) {
						margin-bottom: 32px;
					}

					.heading {
						text-transform: uppercase;
						margin-bottom: 16px;
					}

					.list {
						padding-left: 0;
						list-style-type: none;

						.item {
							&:not(:last-child) {
								margin-bottom: 6px;
							}

							.link {
								color: $white;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}

	.site-footer-attribution {
		padding-top: 24px;
		
		.site-copyright {
			font-size: 14px;
		}
	}
}

.signup-desc {
	margin-bottom: 48px;

	a {
		color: $color-800;
		font-weight: 700;
	}

	.highlight {
		color: $color-one-500;
		font-weight: 700;
	}
}

.signup-form {
	padding-bottom: 48px;

	table {
		border: 1px solid #BBBBBB;

		th {
			background-color: #D9D9D9;
			border: 1px solid #BBBBBB;
		}

		td {
			border: 1px solid #BBBBBB;
			padding: 8px;

			&.label {
				width: 180px;
				font-weight: 700;
			}
		
			&.field {
				padding: 0;
				vertical-align: middle;

				.input-select {
					width: calc(100% - 8px);
					border-radius: 4px;
					margin: 4px;
				}
		
				.input {
					width: 100%;
					height: 100%;
					box-shadow: none;
					padding: 8px 12px;
					border: none;
				}
			}
		
			&.signup-form-hint {
				width: 40%;
			}
		}
	}

	.form-action {
		padding-top: 12px;
		margin: -12px;

		.button {
			padding: 6px 12px;
			width: 100%;
			max-width: 132px;
			margin: 12px;
			border-radius: 4px;
			font-weight: 700;
		}
	}
}
