.grid-connection {

	@at-root {
		.grid-connection-boxes {
			@include column-items(-8px);
			display: flex;

			&:hover {

				.photo {

					.bg {
						transform: translateX(0);
					}

					.img {
						transform: scale(1);
					}
				}

				.text {
					opacity: 0.4;
					transform: translateX(8px);
				}
			}
		}

		.grid-connection-box {
			@include column-item(8px, 3);
			overflow: hidden;
			position: relative;

			&:first-child {

				.photo {

					.bg {
						background-position: left center;
					}
				}
			}

			&:last-child {

				.photo {

					.bg {
						background-position: right center;
					}
				}
			}

			&:after {
				content: "";
				background-image: attr(data-image);
				left: 0;
				position: absolute;
				top: 0;
			}

			.link {
				display: block;

				&:hover,
				&:focus {

					.text {
						opacity: 1;
						transform: translateX(0);

						&:before {
							transform: scaleX(1);
						}
					}
				}
			}

			.photo {

				.bg {
					background-position: center center;
					background-size: cover;
					bottom: 0;
					left: 0;
					position: absolute;
					top: 0;
					transform: translateX(-100%);
					transition: all 0.3s ease-in-out;
					right: 0;
					z-index: 1;
				}

				.img {
					transform: scale(1.1);
					transition: all 0.2s ease-out;
					width: 100%;
				}
			}

			.text {
				bottom: 48px;
				left: 48px;
				padding: 8px 0;
				position: absolute;
				right: 48px;
				transition: all 0.2s ease-out;
				z-index: 2;

				&:before {
					content: "";
					background-color: $white;
					height: 1px;
					left: 0;
					position: absolute;
					top: 0;
					transform: scaleX(0.5);
					transform-origin: left center;
					transition: all 0.2s ease-out;
					width: 100%;
				}
			}

			.title {
				@include font-size-200;
				color: $white;
				letter-spacing: 0.1em;
				text-transform: uppercase;
			}
		}
	}
}
